body {
	margin: 0 auto;
	background: #f8f8f8;
	padding: 40px 0;
	font-family: Myriad, "Myriad Pro", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

#content {
	background: #fff;
	width: 540px;
	padding: 30px;
	margin: 0 auto;
}

p {
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 10px 0;
}

.intro {
	text-align: center;
	font-size: 17px;
	line-height: 30px;
}

.outro {
	text-align: center;
	font-weight: bold;
	margin-top: 40px;
}

.outro small {
	font-size: 11px;
	font-weight: normal;
}

a { color: #ff8a00;}

a.button {
    color: rgba(64, 0, 0, 0.9);
    border: 1px solid #D67F00;
    background: #FF9C00;
    padding: 0 12px;
    border-radius: 3px;
    display: inline-block;
    text-transform: none;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 1px white, 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    font: normal normal 12px/24px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	color: black;
	font-size: 16px;
	margin: 0 0 5px 0;
	font-weight: bold;
}

img {
	margin: 0 0 20px 0;
}

ul li {
	font-size: 14px;
	margin-bottom: 8px;
}

#page:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}
